@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="masthead" style="background-image: url('~/img/intro-bg.jpg');">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h1 class="brand-heading" style="font-size: 54px;width: 676.984px">Pharmacy Inventory Management System</h1>
                    <p class="intro-text">Record new stock of medicines, Track remaining stocks, Visualisation and Expiration date tracking.</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;Pharmacy Inventory Management System 2023</p>
        </div>
    </footer>
</div>

